
.loader{
  height:100vh;
}

.loader .loader-inner{
  display:flex;
  height:100%;
  width:100%;
  text-align:center;
  align-items:center;
  justify-content:center;
}

.spinner {
  animation: spin infinite 3s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}