.movie_card{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height:300px;
}
.border{
    border:1px solid black;
    padding:10px;
    min-height: calc(150px * 1.5);
    height: 400px;
    border-radius: 8px;
    
}
.movie_card .image{
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: #dbdbdb;
    overflow: hidden;
}

.movie_image img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.options{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 4;
    opacity: 0.6;
    background:orange;
    width:30px;
    height:30px;
    text-align: center;
    border-radius:50%;
}
.options a{
    color:white;
    font-size: 20px;;
}
.content{
    width: 100%;
    line-height: 10px;
    padding:10px 0;
}

.content h2 a{
    color:black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}