@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  font-family:'Poppins', sans-serif !important;
}

a{
  text-decoration: none !important;
  color:white ;
  
}

.navbar-brand{
  font-size:30px !important;
  font-family: 'Gentium Plus', serif;
  
}

.loader{
  height:600px;
}

.loader .loader-inner{
  display:flex;
  height:100%;
  width:100%;
  text-align:center;
  align-items:center;
  justify-content:center;
}
