@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  font-family:'Poppins', sans-serif !important;
}

a{
  text-decoration: none !important;
  color:white ;
  
}

.navbar-brand{
  font-size:30px !important;
  font-family: 'Gentium Plus', serif;
  
}

.loader{
  height:100vh;
}

.loader .loader-inner{
  display:flex;
  height:100%;
  width:100%;
  text-align:center;
  align-items:center;
  justify-content:center;
}

.spinner {
  animation: spin infinite 3s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}